.container {
  display: flex;
  justify-content: center;
  padding: 24px 24px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 24px;
  
  width: 100%;
  max-width: 700px;
}

.content h1 {
  font-size: 60px;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 6px;
}

.footer h6 {
  font-weight: 400;
  font-size: 18px;
  padding: 12px;
  border-radius: 4px;
  background: var(--background-light);
}

.footer h6 span {
  font-weight: 600;
  margin-left: 4px;
  padding: 2px 4px;
  border-radius: 2px;
  background: var(--secondary);
}