.boxAlert {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;

  padding: 24px;
  border-radius: 8px;
}

.boxAlert svg {
  opacity: 0.8;
}

.boxAlert p {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  max-width: 500px;
}

.boxAlert.empty {
  background: rgba(0, 0, 255, 0.05);
  border: 1px solid rgba(0, 0, 255, 0.2);
}

.boxAlert.empty svg {
  color: blue;
}

.boxAlert.warning {
  background: rgba(255, 255, 0, 0.05);
  border: 1px solid rgba(255, 255, 0, 0.2);
}

.boxAlert.warning svg {
  color: yellow;
}

